apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

commonLabels:
  environment: production

images:
  - name: docker.io/ianlintner068/oauth2-server
    newTag: v1.0.0
